h1 {
  margin: 0;
  margin-top: 2rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;

  .list-group-item {
    background-color: whitesmoke;
    border: none;
  }
}

.card {
  width: 100%;
  margin-top: 3rem;
  background-color: whitesmoke;
  border: 1px solid #04aeef;
  border-radius: 30px;

  &:hover {
    border-color: rgb(7, 4, 173);
    box-shadow: 0 0 5px rgb(7, 4, 173), 0 0 10px rgb(7, 4, 173);
  }

  &__imgContainer {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  .card-body {
    h5 {
      color: #04aeef;
    }
    a {
      color: #04aeef;
      text-decoration: none;
      cursor: pointer;
    }
  }

  img {
    min-width: 150px;
    min-height: 150px;
    border: 1px solid #04aeef;
    border-radius: 20px;
  }
  p {
    margin: 0;
  }
}
