.container-fluid {
  width: 70%;
  justify-content: space-evenly !important;
  padding: 10px;
  margin-block: 2rem;
  background-color: #04aeef;
  border-radius: 20px;
}

h1 {
  margin: 1rem;
  font-size: 1.5rem;
}

a {
  color: whitesmoke;
}

ul li a {
  color: #04aeef;
}

.form-control {
  text-align: center;
  background-color: whitesmoke;
}

.me-2 {
  color: #04aeef;
}

.d-flex {
  padding: 1rem;
}

.btn {
  color: whitesmoke;
  border: solid 1px whitesmoke;
}

.btn:hover {
  background-color: rgb(44, 44, 161);
}

.container-fluid-img {
  max-width: 50px;
  border-radius: 25px;
}

// ! -----------------------------------------------------------
//  BREAKPOINTS
// ! -----------------------------------------------------------

@media (min-width: 768px) {
  .container-fluid {
    width: 50%;
  }
}

